  <div class="outer">
  <div class="drop-area borderRequired" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <p class="mb-4 fs-2">Drag & Drop your PDF resumes or a folder here</p>

  <p *ngIf="!supportsFolderUpload()">Note: Folder upload may not work in this browser. Please select multiple files manually.</p>

  <input
    type="file"
    multiple
    webkitdirectory
    accept=".pdf"
    (change)="onFileSelected($event)"
    hidden
    #fileInput
  />

  <button (click)="fileInput.click()" class="btn">
    {{ supportsFolderUpload() ? 'Or Choose Folder' : 'Choose Multiple Files' }}
  </button>
</div>
<br><br>

<div *ngIf="selectedFiles.length > 0">
  <h3>Selected Files:</h3>
  <table border="1" style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr>
        <th style="padding: 20px;font-size:20px">Sr No</th>
        <th style="padding: 20px;font-size:20px">File Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of selectedFiles; let i = index" >
        <td class="selectedFilesAligment">{{i+1}}</td>
        <td class="selectedFilesAligment">{{file.name}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="onSubmit()">Submit</button>
</div>
</div>